:root {
    --main-bg-color: brown;
    --main-font-color: red;
    --main-button-color: green;
    --main-header-color: yellow;
    --main-card-color: blue;



}


.color-1{
    width: 100px;
    height: 100px;
    
}
.color-2{
    width: 100px;
    height: 100px;
}
.color-3{
    width: 100px;
    height: 100px;
}
.color-4{
    width: 100px;
    height: 100px;
}
.color-5{
    width: 100px;
    height: 100px;
}